$blue: #5F758E;
$grey: #BDBBB6;
$orange: hsl(23, 72%, 53%);
$border: solid 1px grey;
$border-soft: solid 0.5px grey;

* {
  font-family: 'Work Sans', sans-serif;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: 'sidebar main-content';
  height: 100vh;
}


%sidebar {
  margin: 10px;
  width: 250px;
  height: 100vh;
  position: fixed;
  border-right: $border;
  transition: all 0.5s;
}

.sidebar-big {
  @extend %sidebar;
}

.sidebar-small {
  @extend %sidebar;
  display: none;
  z-index: 5;
}

.main-content {
  margin: 10px;
  grid-area: main-content;
}

.add-task-modal {
  width: 300px;
  height: 200px;
  position: fixed;
  border: solid black 1px;
  border-radius: 10px;
  z-index: 8;
  top: 30vh;
  left: 40vw;
  background-color: white;
  transition: all 0.8s;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;

  .submit-button {
    margin: 10px;
    width: 50%;
    align-self: center;
    border: $blue solid 1px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
  }

  .submit-button:hover {
    background-color: $grey;
  }
}

.sidebar-toggle {
  position: fixed;
  top: 14px;
  left: 15px;
  visibility: hidden;
  z-index: 6;
}

.sidebar-toggle:hover {
  cursor: pointer;
}

@media only screen and (max-width: 950px) {

  .App {
    grid-template-areas: 'main-content main-content';
  }

  .sidebar-toggle {
    visibility: visible;
  }

  .sidebar-big {
    display: none;
  }

  .sidebar-small {
    display: block;
    background-color: white;
    position: fixed;
  }
}

.search-icon {
  margin: 5px;
}

.header {
  padding: 10px;
  border-bottom: $border;
}

.task-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.priority-display {
  margin: 10px;
}

.priority-display:hover {
  cursor: pointer;
}

.task-card {
  border: $border;
  border-radius: 10px 30px;
  width: 80%;
  margin: 20px;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 180px;
  grid-template-areas: 'task-text task-display';

  .task-text {
    grid-area: task-text;
    text-align: left;

    .task-header {
      margin: 10px;
      padding: 4px;
      font-size: 22px;
      border-bottom: $border-soft;
    }

    .task-desc {
      margin: 10px;
      padding: 4px;
      font-size: 16px;
    }
  }

  %shared-display {
    transition: all 0.5s;
    grid-area: task-display;
    position: relative;
    border-left: $border-soft;
  }

  .task-worker-display {
    @extend %shared-display;

    .workers-assigned {
      margin: 10px;
      font-size: 15px;
      font-weight: normal;
    }

    .worker-count {
      margin: 10px;
      font-size: 20px;
    }

    .task-status {
      margin: 5px;
      padding: 10px;
      border-top: $border-soft
    }

    .play-button {
      background-color: white;
      color: rgb(0, 158, 79);
      position: absolute;
      top: 60px;
      right: 163px;
      font-size: 2em;
    }

  }

  .task-menu {
    @extend %shared-display;
  
    .exit-button {
      position: absolute;
      left: 5px;
      top: 5px;
    }
  
    .exit-button:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }

  .priority-select {
    @extend %shared-display;

    .exit-button {
      position: absolute;
      left: 5px;
      top: 5px;
    }

    .exit-button:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 650px) {
  .task-card {
    height: 250px;
  }
}


.star-icon {
  color: rgb(255, 166, 0);
  font-size: 1.5em;
}

.menu-option {
  cursor: pointer;
  font-size: 15px;
}

.menu-option:hover {
  font-weight: bold;
}

.progress-bar {
  margin: 10px;
  width: 80%;
  height: 30px;
  border: $border;
  border-radius: 20px;
}

.progress-complete {
  margin: 0;
  height: 100%;
  border-radius: 20px;
  background-color: $orange;
}